In [22]:
# Code to create an employee dataset
# import libraries
import pandas as pd
from faker import Faker
import random

In [23]:
# create faker object
f = Faker()

# set seed
random.seed(2)

# mapping salary for specific position
salary_mapping = {
    "Manager": 40000,
    "Manager Assistant": 21000,
    "Teacher": 30000,
    "Teacher Assistant": 27000,
    "Cheff": 23000,
    "Maintenance": 20000,
    "Nurse": 35000,
}

# Create a dictionary of job title and number of employees in specified job title.
job_title_counts = {
    "Manager": 1,
    "Manager Assistant": 1,
    "Nurse": 1,
    "Cheff": 2,
    "Teacher": 9,
    "Teacher Assistant": 6,
    "Maintenance": 3
}

# calculate the total number of employees according to job title count
total_employees = sum(job_title_counts.values())


def input_employee(total_employees):
    employees_data = [] # list to store employee data

    remaining_employees = total_employees

    # gen a while loop if there is > 0 employees
    while remaining_employees > 0:

        # choose a job title based on remaining count
        available_job_titles = [title for title, count in job_title_counts.items() if count > 0]
        job_title = random.choice(available_job_titles)

        # update the job title count and remaining employees
        job_title_counts[job_title] -= 1
        remaining_employees -= 1

        # map salary to get the salary based on the job title
        salary = salary_mapping[job_title]

        employee = {
            "employee_id": random.randint(1, 100),
            "employee_name": f.name(),
            "birthdate": f.date_of_birth(minimum_age=18, maximum_age=70),
            "address": f.address(),
            "email": f.email(),
            "job_title": job_title,
            "salary_year": salary,
            "latitude": str(f.latitude()),
            "longitude": str(f.longitude())
        } 
        #append the each iteration in employees_data list
        employees_data.append(employee)
    #create dataframe using the list
    data = pd.DataFrame(employees_data)
    return data

# generate data and save in the result
result = input_employee(total_employees)

#save the generated data to a csv file
result.to_csv("daycare_employee_info.csv", index = False)

In [24]:
df = pd.read_csv("daycare_employee_info.csv")
df.head(20)

,employee_id,employee_name,birthdate,address,email,job_title,salary_year,latitude,longitude
0,8,Danielle Perkins,1979-11-18,"9404 Todd Park\nPhillipsmouth, VA 94362",vherrera@example.net,Maintenance,20000,-1.559942,70.078107
1,11,Ashley Williams,2004-08-08,"1283 Michael Brook\nSusanport, MH 04461",xavery@example.net,Manager,40000,27.407940,-42.020295
2,22,Laurie Reyes,1953-02-28,"958 Daniel Squares Apt. 888\nLake Jessica, UT ...",dmiller@example.net,Cheff,23000,-61.405837,-102.652595
3,86,April Woods,1991-05-28,"21260 Chavez Fork Apt. 895\nMolinatown, UT 02369",cheryl28@example.com,Maintenance,20000,36.201605,-24.547999
4,33,Gabrielle Knight,1964-09-24,"138 Powers Way Apt. 429\nNorth Courtneybury, H...",kathleenpeterson@example.org,Cheff,23000,-22.957796,165.301901
5,28,Gail Johnson,1995-05-16,"8100 Ortega Creek\nJoshuahaven, GU 56664",paulanelson@example.net,Maintenance,20000,-41.118256,-137.917249
6,75,Jacob Dean,1996-08-10,"0536 Williams Lock Apt. 207\nWest Amy, KY 13897",benjamin45@example.net,Manager Assistant,21000,48.899135,138.912909
7,21,Lisa Martin,1998-05-22,"2439 Luis Prairie\nRobinfort, TN 19125",denise96@example.org,Teacher Assistant,27000,87.322126,124.229855
8,82,Stephanie Medina,2001-03-09,"660 Kenneth Forest\nBarrettland, AK 40927",kennethjenkins@example.org,Teacher,30000,59.481545,-175.586480
9,93,Jeremy Smith,1998-04-06,"4461 Webb Path\nWest Christina, OK 71852",jeffreygross@example.com,Teacher,30000,55.779891,-2.738809
10,48,Sandra Love,1989-10-15,"2191 Jonathan Way Apt. 100\nSouth Jamie, FM 93558",stevensimon@example.org,Teacher Assistant,27000,-50.138769,75.777089
11,57,Christopher Harris,1989-01-11,"342 Jose Points Apt. 696\nAllenview, TX 33469",karaberry@example.org,Teacher Assistant,27000,65.190431,63.894173
12,35,Randall Bell,2000-10-18,"174 Miles Mews Apt. 011\nGlenstad, TX 40496",brooksderrick@example.org,Teacher Assistant,27000,44.932128,-117.635467
13,4,Maria Romero,1982-01-30,"1517 Jordan Valley Suite 756\nHannahfurt, NC 6...",williamsrobert@example.org,Nurse,35000,38.390162,-77.382021
14,60,Lisa Frank,1998-07-06,"767 Williams Rue Suite 206\nKingport, FL 96446",willisrichard@example.com,Teacher Assistant,27000,-87.572486,-136.658601
15,49,Casey Lane,1997-03-29,"48712 Brooks Burg\nNew Frances, SD 81437",walkerjeffrey@example.org,Teacher Assistant,27000,-42.943973,-72.266757
16,68,Craig Jones,2005-03-01,"1165 James Cliff\nLake Amy, OK 27389",nbennett@example.org,Teacher,30000,44.135036,87.170258
17,72,Andrew Mcintyre,1969-08-20,"356 Ryan Ford\nNew Kennethfort, VA 61750",brownjoann@example.net,Teacher,30000,-34.332037,-81.338495
18,31,Angela Mercer,2000-03-14,"11065 Gonzales Plain Apt. 531\nLoweview, WY 23220",jefferymoore@example.net,Teacher,30000,-15.156395,34.899824
19,4,Laurie Garrison,1996-06-13,"8740 Smith Keys\nDarrenchester, GA 99429",valdezjustin@example.org,Teacher,30000,-13.815374,99.948593